body {
    background-color: #3a2f2f;
    display: flex;

    margin: 0;
    padding: 0;
}

.perfil {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    color: rgb(143, 48, 48);
    width: 800px;
    height: 700px;
    margin: 50px;
    border-radius: 5%;
    padding: 20px;
    background-color: #fce6e6c0;
    box-shadow: 10px 5px #f3efefe0;
    
}

#

#img-perfil {
    max-height: 200px;
    border-radius: 50%;
}

